page-contacts {

    .contact-intro{
        line-height: 40px;
        font-family: 'Droid-reguler';
    }

    .contact.inputform {
        font-size: 10px;
    }

    ion-label {
        font-size: 13.5px
    }
}
